<div class="container mt-3 text-center">
<h1><p><i class="fa-solid fa-cloud-sun"></i></p>Weather in <span class="text-secondary">{{city}}</span></h1>
<p><i class="fa-solid fa-audio-description"></i>Description : {{description}}</p>
<p><i class="fa-solid fa-temperature-three-quarters"></i>Temperature : {{temperature}}°C</p>
<p><i class="fa-solid fa-droplet"></i>Humidity : {{humidity}}%</p>
<p><i class="fa-solid fa-wind"></i>Wind Speed : {{windSpeed}} m/s</p>
<p><i class="fa-solid fa-cloud"></i> clouds : {{clouds}}</p>
<a  class="btn btn-primary" href="/">Go back</a>
</div>